<app-blank pageName="Rehberler" [routes]="['Rehberler']">
    <app-section sectionTitle="Rehberler">
        <div class="form-group row">
            <div class="col-9">
                <button class="btn btn-dark" data-toggle="modal" data-target="#createModal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Rehber Ekle
                </button>
            </div>

            <div class="col-3">
                <input type="search" class="form-control" placeholder="Aranacak değer girin">

            </div>
        </div>

        <div class="form-group mt-2">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>İsim Soyisim</th>
                        <th>Başlık</th>
                        <th>İmage Url</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let team of teams">
                      <td>{{ team.guideId }}</td>
                      <td>{{ team.name }}</td>
                      <td>{{ team.title }}</td>
                      <td><img [src]="team.imageUrl" alt="Image 1" style="max-width: 100px;"></td>
                     

                      <td>
                        <button data-toggle="modal" data-target="#updateModal" (click)="get(team)" class="btn btn-outline-primary btn-sm">
                          <i class="fa-solid fa-edit me-1"></i>Düzenle
                        </button>
                        <button (click)="onDeleteTeam(team.guideId)" class="btn btn-outline-danger btn-sm">
                          <i class="fa-solid fa-trash me-1"></i>Sil
                        </button>
                      </td>
                    </tr>
                  </tbody>
            </table>
        </div>

    </app-section>
</app-blank>

<!-- Create Modal -->
  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yeni Kayıt Oluştur</h5>
          <button type="button" #createModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #createForm="ngForm" (ngSubmit)="create(createForm)">
            <div class="modal-body">
                 <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" [(ngModel)]="createModel.title" class="form-control" name="title">
                 </div>
                 <div class="form-group">
                    <label>İsim Soyisim</label>
                    <input type="text" [(ngModel)]="createModel.name" class="form-control" name="name">
                 </div>
                 <div class="form-group">
                    <label>Image Url</label>
                    <input type="text" [(ngModel)]="createModel.imageUrl" class="form-control" name="imageUrl">
                 </div>
                 
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark">Kaydet</button>
            </div>
        </form>
      </div>
    </div>
  </div>

<!-- updateModal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Güncelleme Sayfası</h5>
        <button type="button" #updateModalCloseBtn class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
        <div class="modal-body">
          <div class="form-group">
            <label>Başlık</label>
            <input type="text" [(ngModel)]="updateModel.title" class="form-control" name="updateTitle">
          </div>
          <div class="form-group">
            <label>İsim Soyisim</label>
            <input type="text" [(ngModel)]="updateModel.name" class="form-control" name="updateName">
          </div>
          <div class="form-group">
            <label>Image Url</label>
            <input type="text" [(ngModel)]="updateModel.imageUrl" class="form-control" name="updateImageUrl">
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-dark">Güncelle</button>
        </div>
      </form>
    </div>
  </div>
</div>