<!-- Carousel Start -->
<app-carousel></app-carousel>

<!-- Carousel End -->


<!-- Booking Start -->
<app-booking></app-booking>

<!-- Booking End -->


<!-- About Start -->
<app-about></app-about>
<!-- About End -->


<!-- Feature Start -->
<app-feature></app-feature>

<!-- Feature End -->


<!-- Destination Start -->

<app-destination></app-destination>


<!-- Destination Start -->


<!-- Service Start -->
<app-service></app-service>


<!-- Service End -->


<!-- Packages Start -->
<app-package></app-package>

<!-- Packages End -->


<!-- Registration Start -->
<app-register></app-register>


<!-- Registration End -->


<!-- Guide Start -->
<app-team></app-team>
<!-- Guide End -->


<!-- Testimonial Start -->
<!-- <app-testimonial></app-testimonial> -->


<!-- Testimonial End -->


<!-- Blog Start -->
<!-- <app-blog></app-blog> -->
<!-- Blog End -->