<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Hizmetler</h6>
            <h1>Turlar ve Seyahat Hizmetleri</h1>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let service of services">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i [ngClass]="[service.iconUrl]"></i>
                    <h5 class="mb-2">{{service.title}}</h5>
                    <p class="m-0">{{service.description}}</p>
                </div>
            </div>

        </div>
    </div>
</div>